[
		{
			"type": "divider"
		},
		{
			"type": "image",
			"title": {
				"type": "plain_text",
				"text": "Illumio Logo",
				"emoji": true
			},
			"image_url": "https://www.illumio.com/sites/default/files/styles/thumbnail/public/2020-04/Illumio-Logo-Color.png",
			"alt_text": "marg"
		},
		{
			"type": "section",
			"text": {
			  "text": "{{ pce_fqdn }}",
			  "type": "plain_text"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "plain_text",
				"text": "Event: {{ event_type }}",
				"emoji": true
			}
		},
		{
			"type": "section",
			"text": {
				"type": "plain_text",
				"text": "Created by: {% if created_by.user is defined %} {{ created_by.user.username }} {% endif %}",
				"emoji": true
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Go to event on PCE"
			},
			"accessory": {
				"type": "button",
				"text": {
					"type": "plain_text",
					"text": "View on PCE",
					"emoji": true
				},
				"value": "View on PCE",
				"url": "https://{{ pce_fqdn }}:8443/#{{ href | replace("/orgs/1", "")}}",
				"action_id": "button-action"
			}
		}
	]
