{% extends "base.html" %}

{% block content %}
     <div class="container">
       <div class="row">
         <div class="col">
           <h1>Configuration</h1>
	         <table class="table">
	           <thead>
	             <th scope="col">Key</th>
	             <th scope="col">Value</th>
	           </thead>
	           <tbody>
	             {% for key, value in config.items() %}
	             {% if key != 'plugin_config' and key != 'pce_api_secret' %}
	             <tr>
	               <td>{{ key }}</td>
	               <td>{{ value }}</td>
	             </tr>
	             {% endif %}
	             {% endfor %}
	           </tbody>
           </table> 
         </div>
         <div class="col">
           <h1>Stats</h1>
           <div class="container">
             <table class="table">
               <thead>
                 <th scope="col">Metric</th>
                 <th scope="col">Value</th>
               </thead>
               <tbody>
                 <tr>
                   <td>Events received</td>
                   <td>{{ stats['events_received'] }}</td>
                 </tr>
                 <tr>
                   <td>Events matched</td>
                   <td>{{ stats['events_matched'] }}</td>
                 </tr>
                 {% for key, value in stats['plugin_stats'].items() %}
                 <tr>
                   <td>Plugin: {{ key }}</td>
                   <td>{{ value }}</td>
                 </tr>
                 {% endfor %}
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
{% endblock %}